.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 10px 50px 10px 50px;
    font-family: 'Poppins';
}

.header_links {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #020202;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0a0a0a;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }