.footer {
    position: relative;
    width: 100%;
    padding: 30px 50px;
    bottom: 0;
    background-color: rgb(44, 38, 38);
    color: white;
}

.footer_logo img {
    width: 200px;
}

.footer_links {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.footer_sub_title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.footer_sub_links {
    font-weight: 200;
    font-size: 14px;
    line-height: 25px;

}

.footer_sub_links ul {
    list-style-type: none;
}

.footer_contact {
    border-bottom: 1px solid white;
}

.copyrights {
    font-size: 12px;
    font-weight: 300;
    margin-top: 20px;
    padding: 0px 15px;
}

.fhover-underline-animation {
    display: inline-block;
    position: relative;
    color: #ffffff;
  }
  
  .fhover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .fhover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  @media screen and (max-width: 450px) {
    .footer {
        padding: 20px 7px;
        font-size: 10px;
        text-align: center;
    }

    .footer_links{
        display: block;
        width: 100%;
        padding: 20px 0px;
    }

    .footer_sub_links ul{
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .footer_sub_links ul li{
        line-height: 15px;
        font-size: 10px;
    }

    .footer_sub {
        margin-bottom: 10px;
    }

    .copyrights {
        font-size: 8px;
    }

  }