.home {
    padding: 0px 50px;
}

.home_container {
    height: 80vh;
}

.home_banner {
    height: 100%;
    width: 70%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home_banner h1 {
    font-weight: 400;
    font-size: 72px;
    line-height: 65px;
}

.home_banner h2 {
    font-weight: 400;
    font-size: 36px;
    margin-top: 30px;
}

.about {
    height: 60vh;
    width: 70%;
}

.title {
    font-weight: 400;
    font-size: 28px;
    text-align: left;
    margin: 30px 0px 20px 0px;
}

.container {
    text-align: left;
}

.about_text {
    text-align: justify;
    font-size: 20px;
    font-weight: 300;
}

.service {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 90%;
}

.service_list {
    font-size: 20px;
    font-weight: 300;
}

.service_list ul {
    list-style-type: none;
}



